
sounds/test/Bonk.wav

sounds/test/game-over.wav

sounds/test/Hit.wav

sounds/test/LevelUp.wav

sounds/test/lowHP.wav

sounds/test/lowHP2.wav

sounds/test/mixkit-funny-video-game-slide-2888.wav

sounds/test/oops.wav
